# Top-most EditorConfig file
root = true

# C# files
[*.cs]
# 代码缩进使用4个空格
indent_style = space
indent_size = 4
# 不允许行尾空格
trim_trailing_whitespace = true

# 使用 Unix 风格的换行符
end_of_line = lf

# 文件编码
charset = utf-8

# 行长度限制
max_line_length = 512

# 命名约定
dotnet_naming_rule.method_naming = True
dotnet_naming_rule.method_naming.style = method_style
dotnet_naming_rule.method_naming.severity = suggestion

# 关于命名规则
dotnet_naming_style.method_style.capitalization = pascal_case
dotnet_naming_style.method_style.required_prefix = ""
dotnet_naming_style.method_style.required_suffix = ""


# 禁用的语言特性
csharp_style.prefer_braces = true:suggestion
csharp_style.other_style = true:suggestion

# 空格配置
csharp_space_after_method_declaration_name = true
csharp_space_before_open_brace = true
csharp_space_after_open_brace = true
csharp_space_before_close_brace = true

# 类名和接口名规则
dotnet_naming_rule.class_naming.severity = suggestion
dotnet_naming_rule.class_naming.style = class_style
dotnet_naming_rule.class_naming.symbols = class_symbols

dotnet_naming_style.class_style.capitalization = pascal_case
dotnet_naming_style.class_style.required_prefix = "I"
dotnet_naming_style.class_style.required_suffix = ""

# 确保 if, for, foreach 语句使用大括号
csharp_style.require_braces = true:Error

# 其他编码规范，可以自行添加

csharp_space_after_comment_hash = true:error # 在#后插入空格
